/* Diamond.css */
input[type=number] {
    -moz-appearance: textfield;
  }
  
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
  }

  .shape-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5px;
    background: white;
    border: 1px solid;
    border-color: #D3D3D3;
    height: 72px;
    width: 72px;
    cursor: pointer;
  }
  
  .shape-button.selected {
    border: 4px solid #FFA500;
  }
  
  .number-input {
    display: flex;
    justify-content: center;
    align-items: start;
    background: white;
    border: 1px solid;
    border-color: #D3D3D3;
    padding-right: 5px;
  }

  .number-input::placeholder {
    margin-left: 10px;
  }

  .number-input::placeholder {
    padding-left: 10px;
  }

  .number-input {
    padding-left: 10px;
  }
