/* Ensure the slider container covers the full viewport */
.sliderAx {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  overflow: hidden; /* Hide overflow to avoid white space */
  display: flex;
}

/* Ensure each slide container covers the full slider area */
.container {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.slide-in {
  animation: slideInAnimation 3s ease forwards;
}

.slide-out {
  animation: slideOutAnimation 3s ease forwards;
}

@keyframes slideInAnimation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideOutAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Ensure the background images cover the full slide area */
.bg-cover {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: left;
  padding: 2em;
  color: white; /* Ensure all text is white */
}

.content p,
.content a {
  color: white; /* Ensure all text and links are white */
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .content {
    padding: 1em;
  }

  .content p {
    font-size: 1.5em;
  }

  .content a {
    padding: 0.5em 1em;
    font-size: 0.8em;
  }

  .sliderAx {
    height: 50vh;
    width: 100vh /* Adjust the height for smaller screens */
  }

  .bg-cover {
    background-position: center;
    height: 50vh;
    width: 100vh /* Adjust the height for smaller screens */
  }
}
